*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2em;
    padding: 4em;
    width: 80%;
}
a:hover{
    color: red;
    margin-bottom: 0.5em;
}

h1, h2 {
    color: #5EFF00;
    text-shadow: 2px 2px 8px;
    padding-top: 2em;
}
 
#toggle{
    display: block;
    margin: 2em 0;
    padding: 0.5em;
    border-radius: 2em;
}



